#main-nav {
    background:#9FB3BF;
}

#main-nav ul {
    display:flex;
    margin:0;
}

#main-nav li {
    list-style-type:none;
    padding:5px;
    flex:1;
    padding:5px;
}

#main-nav li a {
    text-decoration: none;
    color:white;
}

#main-nav .hide-small {
    display:none;
}

@media screen and (min-width: 768px) {
    #main-nav button {
        display:none;
    }

    #main-nav .hide-small {
        display:flex;
    }
  }