#slideshow {
    position:relative;
}

#slideshow img {
    max-width:100%;
}

.arrow {
    color:black;
    text-decoration: none;
    size:3em;
    position:absolute;
    top:50%;
    background:lightgray;
    border-radius:3px;
    padding:5px;
}

#right-arrow {
    right:5%;
}

#left-arrow {
    left:5%;
}