#slideshow {
    position:relative;
}

#slideshow img {
    max-width:100%;
}

.arrow {
    color:white;
    text-decoration: none;
    font-size:24px;
    position:absolute;
    top:45%;
    background:rgba(41,80,149,0.6);
    border-radius:3px;
    padding:5px 10px;
}

#right-arrow {
    right:20px;
}

#left-arrow {
    left:20px;
}

#slideshow img {
    display:block;
    margin:auto;
}